@media(max-width:765px){
    header{
        section{
            .navbar {
                .ul_navbar{
                    .li_navbar {
                        margin: 0px 3px;
                    }
                }
            }
        }
    }   
    .menu_box {
        @include grid ( repeat(1, 1fr),repeat(1, 1fr))
    }
    .menu_card {
        height: 550px;
        width: 350px;
        .img_menu {
            height: 210px;
        }
    }
    .h1_index{
        .comida_yellow {
            font-size: map-get($map: $font-size, $key:font-30px );
        }
    } 
    .parrafo_principal {
        width: 56%;
    }
    .img_princi {
        width: 300px;
    }
    .img_salmon {
        width: 400px;
    }
    .corazon {
        bottom: 170px;
        left: 95px;
    }
    .parrafo_producto {
        width: 60%;
        line-height: 35px;
        margin-bottom: 10px;
    }
    .contenedor_usuarios {
        margin-bottom: 150px;
    }
    .nombre_productos {
        margin: 9% 0;
    }
    .grid_galeria {
        @include grid ( repeat(2, 1fr),repeat(3, 1fr))
    }
    .grid_opiniones {
        @include grid ( repeat(1, 1fr),repeat(3, 1fr))
    }
    .form{
        .contendor_fom {
            .input {
                width: 150px;
            }
        }
    } 
    .titulo_menu {
        margin-top: 240px;
    }
    /*franquicias*/
    .grid_four{
        .parrafo_grid_franquicias {
                width: 130px;
                height: 130px;
                font-size: map-get($map: $font-size, $key: font-11px);
        }
    }
    .contenedor_titulo_principal{
        .parrafo_franquicias {
                font-size: map-get($map: $font-size, $key:font-9px );
        }
    }
    .titulo_franquicias {
        bottom: 100px;
    }
    .formulario_cont {
        bottom: 50px;
    }
    .contenedor_parrafo_form {
        bottom: 80px;
    }
    /*encuesta*/
    .ctndo_encuesta {
        font-size:map-get($map: $font-size, $key:font-11px );
    }
    .ctnedor_parrafo {
        font-size: map-get($map: $font-size, $key:font-6px );
    }
}