@media(max-width:1290px){
    .h1_index{
        top: -80px
    }
    .parrafo_principal{
        top: -40px;
    }
    .img_princi {
        width: 500px;
        bottom: 50px
    }
    .img_salmon {
        width: 650px;
    }
    .sobre_yellow {
        font-size:map-get($map: $font-size, $key:font-40px );
        .nosotros_black {
            font-size: map-get($map: $font-size, $key:font-20px );
        }
    }
    .titulo_elegirnos {
        font-size: map-get($map: $font-size, $key:font-17px );
    }
    .titulo_menu {
        font-size: map-get($map: $font-size, $key:font-20px );
        .menu_yellow {
            font-size:map-get($map: $font-size, $key:font-40px );
        }
    }
    .titulo_galeria {
        font-size: map-get($map: $font-size, $key:font-20px );
    }
    .titulo_galeria .palabra_yellow {
        font-size:map-get($map: $font-size, $key:font-40px )
    }
    .titulo_opiniones {
        font-size:map-get($map: $font-size, $key:font-20px );
        .palabra_yellow {
            font-size:map-get($map: $font-size, $key:font-40px )
        }
    }
    .titulo_ordena {
        font-size:map-get($map: $font-size, $key:font-40px )
    }
    .form {
        left: -80px;
    }
} 