@media(max-width:520px){
    .parrafo_principal {
        line-height: 10px;
    }
    .img_princi {
        width: 200px;
    }
    .h1_index {
        font-size: map-get($map: $font-size, $key:font-13px );
    }
    .flex-main {
        margin-bottom: 100px;
    }
    .img_salmon {
        width: 200px;
    }
    header{
        section{
            .navbar{
                .ul_navbar{
                    .li_navbar{
                        .href_navbar{
                            font-size: map-get($map: $font-size, $key:font-9px );
                        }
                    }
                }
            }
        } 
    }    
    .titulo_opiniones {
        margin-top: 26%;
        margin-bottom: 31%;
    }
}