@media(max-width:1190px){
    .h1_index {
        font-size: map-get($map: $font-size, $key:font-30px);
        .comida_yellow{
            font-size: map-get($map: $font-size, $key:font-63px);
        }
    }
    .img_salmon {
        width: 600px;
    }
    .menu_card {
        height: 430px;
        width: 200px;
        .img_menu {
            width: 80%;
            height: 160px;
        }
    }
    .corazon{
        bottom: 130px;
        left: 55px;
    }
    .parrafo_producto {
        line-height: 15px;
    }
    .img_galeria{
        width: 75%;
    }
    .contenedor_usuarios{
        width: 300px;
        height: 420px;
    }
    /*franquicias*/
    .grid_four{
        .parrafo_grid_franquicias {
            width: 250px;
            height: 250px;
        }
    }
}