
@media(max-width:834px){

    .h1_index {
        font-size: map-get($map: $font-size, $key:font-20px);
        .comida_yellow {
            font-size:  map-get($map: $font-size, $key:font-40px);
        }
    }
    .parrafo_principal {
        font-size: map-get($map: $font-size, $key:font-9px);
    }
    /*formulario*/
    .ctndo_encuesta {
        font-size: map-get($map: $font-size, $key:font-13px );
    }
    .ctnedor_parrafo {
        font-size: map-get($map: $font-size, $key:font-13px );
    }
    .formu {
        font-size: map-get($map: $font-size, $key:font-20px );
    }
    .contenedor_opciones {
        font-size: map-get($map: $font-size, $key: font-11px);
    }
    
    /*locales*/

    main{
        .grid_locales{
            .contenedor_locales{
                .nombre_locales {
                    font-size: map-get($map: $font-size, $key: font-13px);
                }
            }
        }  
    }
    main{
        .grid_locales {
            .contenedor_locales{
                .direccion_locales {
                    font-size: map-get($map: $font-size, $key:font-11px );
                }
            }
        } 
    }
    /*franquicias*/
    .grid_four {
        bottom: 330px;
        .parrafo_grid_franquicias {
            width: 170px;
            height: 170px;
        }
    }
    .contenedor_titulo_principal{
        .parrafo_franquicias {
            top: 50px;
            font-size: map-get($map: $font-size, $key: font-13px);
        }
    }
    .titulo_franquicias {
        bottom: 200px;
    }
    .contenedor_parrafo_form {
        bottom: 160px;
    }
    .formulario_cont {
        bottom: 120px;
    }
}