$font-size:(
    font-17px: 1.0625rem,
    font-50px: 3.125rem,
    font-83px:5.200rem,
    font-13px:.8125rem,
    font-63px:3.9375rem,
    font-40px:2.5rem,
    font-30px:1.875rem,
    font-25px:1.5625rem,
    font-18px:1.125rem,
)