@mixin flex($justify, $direction, $wrap, $aling){
    display: flex;
    justify-content: $justify;
    flex-direction: $direction;
    flex-wrap: $wrap;
    align-items: $aling;
}

@mixin grid ($colums,$rows){
    display: grid;
    grid-template-columns: $colums;
    grid-template-rows: $rows;
}