.img_franquicia{
    width: 100%;
    height: 600px;
    position: relative;
    top: 50px;
    filter: opacity(50%);
}

.contenedor_titulo_principal{
    z-index: 900;
    position: relative;
    bottom: 480px;
    .h1_franqucias{
        font-family: 'Rubik', sans-serif;
        font-size: map-get($map: $font-size, $key:font-50px);
        font-weight: 500;
        color: $color_texto;
        @include flex(center, row, nowrap, normal);
        text-decoration: underline;
    }
    .parrafo_franquicias{
        font-family: 'Lora', serif;
        font-size: map-get($map: $font-size, $key:font-25px);
        font-weight: 600;
        color: $color_texto;
        @include flex(center, row, nowrap, normal);
        text-align: center;
        position: relative;
        top: 20px;
    }
}
.grid_four{
    @include grid (repeat(4,1fr),repeat(1,1fr));
    position: relative;
    bottom: 430px;
    justify-items: center;
    .parrafo_grid_franquicias{
        width: 280px;
        height: 280px;
        background-color: $color-principal;
        border-radius: 150px;
        @include flex(center, row, nowrap, center);
        font-family: 'Rubik', sans-serif;
        font-size: map-get($map: $font-size, $key:font-25px);
        border: 4px solid $color_blanco;
        cursor: pointer;
    }
    
}

.titulo_franquicias{
    position: relative;
    bottom: 250px;
    @include flex(center, row, nowrap, normal);
    font-family: 'Rubik', sans-serif;
    font-size: map-get($map: $font-size, $key:font-40px);;
    color: $color_texto;
}

.contenedor_parrafo_form{
    @include flex(center, row, nowrap, normal);
    position: relative;
    bottom: 220px;
    font-family: 'Lora', serif;
    font-size: map-get($map: $font-size, $key:font-13px);
    color: $color_texto;
}

.formulario_cont{
    @include flex(center, column, nowrap, center);
    position: relative;
    bottom: 150px;
}

.input_franquicias{
    width: 500px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 60px;
}

.btn_franquicias{
    padding: 1% 4%;
    background-color: $color-principal;
    border: none;
    font-family: 'Lora', serif;
    text-decoration: none;
    color: $color_blanco;
}