header{
    section{
        .navbar{
            display: flex;
            justify-content: space-around;
            align-items: center;
            position: fixed;
            right: 0;
            left: 0;
            background-color: #edf2f4;
            box-shadow: 0 0 10px #001524;
            z-index: 1000;
        }
    }
}