
.menu_box{
    @include grid(repeat(4,1fr), repeat(3,1fr));
    text-align: center;
    justify-items: center;
    margin-top: 4%;
    
}
.menu_card{
    box-shadow: 0 0 10px $color_sombra;
    height: 570px;
    width: 325px;
    margin-bottom: 19%;
    &:hover{
        transform: scale(1.1);
        .img_menu{
            filter: opacity(80%);
        }
    }
    .img_menu{
        width: 85%;
        height: 250px;
        position: relative;
        top: 20px;
    }
}

.corazon{
    position: relative;
    bottom: 200px;
    left: 100px;
    cursor: pointer;
}
.nombre_productos{
    font-family: 'Rubik', sans-serif;
    font-size: map-get($map: $font-size, $key:font-25px );
    margin:6% 0;
    color: $color-principal;
}
.parrafo_producto{
    width: 80%;
    margin: 0 auto;
    font-family: 'Lora', serif;
    font-size: map-get($map:$font-size , $key:font-13px);
    line-height: 20px;
}
.precio_producto_hambuguesa{
    font-family: 'Lora', serif;
    font-size:map-get($map: $font-size, $key: font-18px);
    font-weight: 500;
    position: relative;
    top: 40px;
}
.btn_ordenar_productos{
    padding: 2% 4%;
    background-color: $bg_btn;
    margin-top: 4%;
    border: none;
    position: relative;
    top: 55px;
}
.contenedor_extrella{
    position: relative;
    top: 50px;
    color: $color-principal;
    
}